{% load staticfiles %}
<span class="notranslate" onmouseover="_tipon(this)" onmouseout="_tipoff()">
<span class="google-src-text" style="direction: ltr; text-align: left">
<!DOCTYPE html>
<html>
<head>
    <title>Blog Carlos Ferreira</title> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset=utf-8> 
    <meta name=viewport content="width=device-width, initial-scale=1"> 
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css> 
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js></script> 
    <script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="{% url 'post_list' %}">Blog Carlos Ferreira</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="{% url 'about' %}">SOBRE</a></li>
              <li><a class="nav-link" href="{% url 'contact' %}">CONTATO</a></li>
            </ul>
          </div>
        </div>
      </nav>
              <div>
        
                    <div class="jumbotron jumbotron-fluid text-center">
                            <h1>Sobre mim</h1> 
                            <p>Isto é o que eu faço.</p> 
                    </div>

                    <div class="container">
                            <div class="row">
                              <div class="col-sm-2">
                              </div>
                              <div class="col-sm-8 text-align" id="font">
                                    <p id="font">Tenho 20 anos, sou Técnico em Informática pelo SENAC, e atualmente curso Bacharelado em Ciência da Computação na UFSCar - São Carlos. Amante das novas tecnologias, breve conhecimento em desenvolvimento web, além do conhecimento em Arduino, C, C++.</p>
                                    
                              </div>
                            </div>
                          </div>

                    <footer class="container-fluid text-center">
                            <p>Desenvolvido por Carlos Ferreira </p> 
                          </footer>
    </body>
</html>