#font{
    font-size: 26px;
    font-family: 'Lora';

}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  padding: 30px;
}

.side {
    background-color: white;
    height: 100%;
    padding: 30px;
  }
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
/* Create two unequal columns that floats next to each other */

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}
.bg-1 { 
    background-color: #1abc9c; /* Green */
     color: #ffffff;
 }
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #1abc9c !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #1abc9c!important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #1abc9c !important;
}


p {font-size:16px;}

#center {
  display: block;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  }

#centralizar {
  display: block;
  margin: auto;
  position: relative;
  }

  .bg-grey {
    background-color: #f6f6f6;
}


.jumbotron { 
    background-color: #1abc9c; /* Orange */
    color: #ffffff;
    width: 100%;
}
